@import 'tailwindcss';

body {
  background-color: black;
  color: white;
}

.dropdown {
  display: none;
}

.nav_profile:hover .dropdown {
  display: block;
  cursor: pointer;
}

.banner_img {
  mask-image: linear-gradient(to right, transparent, black 75%);
  -webkit-mask-image: linear-gradient(to right, transparent, black 75%)
}